@font-face {
  font-family: Gilroy;
  font-weight: 700;
  font-style: normal;
  src: local("Gilroy"),
       url("../fonts/Gilroy-Bold.woff2") format('woff2'),
       url("../fonts/Gilroy-Bold.woff") format('woff'),
       url("../fonts/Gilroy-Bold.eot") format('eot');
  font-display: swap;
}
@font-face {
  font-family: Gilroy;
  font-weight: 800;
  font-style: normal;
  src: local("Gilroy"),
       url("../fonts/Gilroy-ExtraBold.woff2") format('woff2'),
       url("../fonts/Gilroy-ExtraBold.woff") format('woff'),
       url("../fonts/Gilroy-ExtraBold.eot") format('eot');
  font-display: swap;
}
@font-face {
  font-family: Gilroy;
  font-weight: 500;
  font-style: normal;
  src: local("Gilroy"),
       url("../fonts/Gilroy-Medium.woff2") format('woff2'),
       url("../fonts/Gilroy-Medium.woff") format('woff'),
       url("../fonts/Gilroy-Medium.eot") format('eot');
  font-display: swap;
}
@font-face {
  font-family: PlayFairDisplay;
  font-weight: 700;
  font-style: normal;
  src: local("PlayFairDisplay"),
       url("../fonts/PlayFairDisplay-Bold.woff2") format('woff2'),
       url("../fonts/PlayFairDisplay-Bold.woff") format('woff'),
       url("../fonts/PlayFairDisplay-Bold.eot") format('eot');
  font-display: swap;
}
@font-face {
  font-family: PlayFairDisplay;
  font-weight: 600;
  font-style: normal;
  src: local("PlayFairDisplay"),
       url("../fonts/PlayFairDisplay-SemiBold.woff2") format('woff2'),
       url("../fonts/PlayFairDisplay-SemiBold.woff") format('woff'),
       url("../fonts/PlayFairDisplay-SemiBold.eot") format('eot');
  font-display: swap;
}
@font-face {
  font-family: PlayFairDisplay;
  font-weight: 500;
  font-style: normal;
  src: local("PlayFairDisplay"),
       url("../fonts/PlayFairDisplay-Medium.woff2") format('woff2'),
       url("../fonts/PlayFairDisplay-Medium.woff") format('woff'),
       url("../fonts/PlayFairDisplay-Medium.eot") format('eot');
  font-display: swap;
}