/*-------------reset------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

/*-------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Gilroy", Arial, sans-serif;
  margin: 0;
  background-color: #0B1D26;
  background-image: url("../img/bg/BG.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  padding-bottom: 843px;
  padding-top: 64px;
}

.container-wide {
  max-width: 1790px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1492px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  font-family: "PlayFairDisplay", serif;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #FFFFFF;
  font-weight: 700;
}

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.navigation__menu li {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigation__menu li + li {
  margin-left: 40px;
}

.navigation__menu li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.navigation__menu li:hover a {
  position: relative;
  padding-bottom: 3px;
}
.navigation__menu li:hover a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #FBD784;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navigation__menu li:hover a:hover::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #FBD784;
  opacity: 1;
}

.navigation__menu-link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigation__menu-link:hover {
  color: #FBD784;
}

.navigation__menu a {
  color: #fff;
  text-decoration: none;
}

.account {
  padding-left: 30px;
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  padding-bottom: 3px;
}
.account::before {
  display: block;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/acc.svg");
  top: 45%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.account:hover {
  color: #FBD784;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.account::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  display: block;
  max-width: 100%;
  height: 1px;
  background-color: #FBD784;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.account:hover::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #FBD784;
  opacity: 1;
}

.nav {
  margin-bottom: 198px;
}

.mobile__nav {
  z-index: 8;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 70px 50px 30px;
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  background-color: rgba(11, 29, 38, 0.8);
}
.mobile__nav .navigation {
  display: block;
}
.mobile__nav .account {
  display: block;
}
.mobile__nav .navigation ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile__nav .navigation ul li {
  margin: 0;
  margin-bottom: 15px;
}

.nav__button {
  z-index: 9;
  display: none;
  height: 25px;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}
.nav__button:focus, .nav__button:active {
  outline: none;
}

.nav__button-icon {
  display: block;
  position: relative;
  background-color: #fff;
  width: 38px;
  height: 3px;
  border: none;
}
.nav__button-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  display: block;
  width: 38px;
  height: 3px;
  background-color: #fff;
}
.nav__button-icon::after {
  position: absolute;
  left: 0;
  bottom: -10px;
  content: "";
  display: block;
  width: 38px;
  height: 3px;
  background-color: #fff;
}

.nav__button-close .nav__button-icon {
  background-color: transparent;
  position: fixed;
  right: 14px;
}

.nav__button-close .nav__button-icon::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.nav__button-close .nav__button-icon::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

/*HERO*/
.hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  -webkit-transition: all 0.5s cubic-bezier(0.655, 0.23, 0.255, 1.595);
  transition: all 0.5s cubic-bezier(0.655, 0.23, 0.255, 1.595);
}

.hero:hover {
  -webkit-transform: translateY(-7%);
          transform: translateY(-7%);
}

.hero__category {
  margin-bottom: 32px;
  position: relative;
  padding-left: 104px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
}

.hero__category::before {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  content: "";
  width: 72px;
  height: 2px;
  background-color: #FBD784;
}

.hero__title {
  margin-bottom: 32px;
  font-family: "PlayFairDisplay", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 88px;
  text-transform: capitalize;
}

.hero__scroll {
  display: inline-block;
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  padding-right: 32px;
}

.hero__scroll::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 16px;
  height: 24px;
  background-image: url("../img/icons/arrow_down.svg");
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}
.article:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.article__text {
  padding-left: 150px;
  max-width: 782px;
  position: relative;
  margin-right: 20px;
}
.article__text p {
  margin-bottom: 27px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}
.article__text::before {
  top: 0;
  left: 0;
  -webkit-transform: translateY(-43%);
          transform: translateY(-43%);
  position: absolute;
  display: block;
  content: attr(data-number);
  width: 240px;
  height: 240px;
  font-style: normal;
  font-weight: 700;
  font-size: 240px;
  line-height: 240px;
  opacity: 0.1;
}

.article__text-subtitle {
  position: relative;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
  padding-left: 96px;
  margin-bottom: 27px;
}
.article__text-subtitle::before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #FBD784;
  height: 2px;
  width: 72px;
}

.article__text-title {
  max-width: 555px;
  margin-bottom: 27px;
  font-family: "PlayFairDisplay";
  font-style: normal;
  font-weight: 500, serif;
  font-size: 64px;
  line-height: 77px;
}

.article__text-read-more {
  display: inline-block;
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FBD784;
  padding-right: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.article__text-read-more::after {
  content: "";
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  display: block;
  background-image: url("../img/icons/arrow_right.svg");
  height: 16px;
  width: 24px;
}
.article__text-read-more:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright-logo {
  margin-bottom: 24px;
  display: inline-block;
}

.footer__copyright-desc {
  max-width: 300px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 122px;
}

.footer__copyright-terms {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  opacity: 0.3;
}

.footer__nav {
  margin-right: 212px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}
.footer__nav:last-child {
  margin-right: 0;
}
.footer__nav li {
  margin-bottom: 13px;
}
.footer__nav li:last-child {
  margin-bottom: 0;
}
.footer__nav a {
  position: relative;
  padding-bottom: 3px;
}
.footer__nav a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__nav a:hover::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 1;
}

.footer__nav-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #FBD784;
  margin-bottom: 24px;
}

.footer__nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  padding-bottom: 117px;
}