@media (max-width: 1400px) {
	.header {
	padding-bottom: 250px;
	}
}
@media (max-width: 1200px) {

	.hero__title {
		font-size: 68px;
	}
	.article__text {
		padding-left: 50px;
		max-width: 50%;
		margin-right: 0;
		&::before {
			width: 140px;
			height: 140px;
			font-size: 140px;
		}
	}
	.article__img {
		width: 45%;
	}
}
@media (max-width: 1100px) {
	.footer__nav  {
		margin-right: 100px;
		&:last-child {
			margin-right: 0;
		}
	}
}
@media (max-width: 920px) {
	.footer__row {
		flex-direction: column-reverse;
	}
	.footer__nav-wrapper {
		margin-bottom: 80px;
	}
	.footer__copyright-desc {
		margin-bottom: 24px;
	}
}
@media (max-width: 800px) {
	.header {
		padding-bottom: 200px;
	}
	.account, .navigation {
		display: none;
	}

	.account:hover::after {
		width: 47%;
	}
	.nav {
		margin-bottom: 90px;
	}
	.nav__button {
		display: block;
	}
	.mobile__nav-active {
		display: flex;
	}
	.navigation__menu li:hover {
		transform: scale(1);
	}
	.account:hover {
		transform: scale(1);
	}
	.hero__title {
		font-size: 48px;
		text-shadow: 0px 0px 15px rgba(0,0,0, 0.6);
	}
	.hero__category {
		font-size: 14px;
		padding-left: 62px;
		&::before {
			width: 42px;
		}
	}
	.article__title {
		font-size: 44px;
	}
}
@media (max-width: 720px) {
	.article {
		flex-direction: column-reverse;
		margin-bottom: 100px;
		&:nth-child(even){
			flex-direction: column-reverse;

		}
	}
	.article__text, .article__img {
		max-width: 100%;
		width: 100%;
		margin-bottom: 75px;
	}
	.article__img {
		max-width: 400px;
		width: 100%;
		margin-bottom: 75px;
	}
}
@media (max-width: 560px) {
	.hero__title{
		font-size: 44px;
	}
	.footer__nav-wrapper {
		flex-direction: column-reverse;
	}
	.footer__nav:first-child {
		margin-top: 60px;
	}
}